<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <php>
        <var name="DB_HOST" value="localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_NAME" value="silex_mysqli_test" />
    </php>
    <testsuites>
        <testsuite name="MySQLi Test Suite">
            <directory>source/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>source</directory>
            <exclude>
                <directory>source/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
